{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="en">

{% include "partials/head.html" %}

<body id="{{ site.siteID }}">

<div class="layout" data-layout="edinburgh" data-theme="reversed">

<div>

<div class="alt-intro">

<nav>
<ul>
{% for item in navigation.items %}
<li><a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a></li>
{% endfor %}
</ul>
</nav>

<h1 data-visibility="hidden">{{ title }}</h1>

<div id="banner-logo">
<a href="/" aria-label="{{ site.name }}" title="Home">{% include "partials/logo-banner.svg" %}<span data-visibility="hidden">{{ site.name }}</span></a>
</div><!-- banner-logo -->

<div class="intro-content">
{{ content | safe }}
</div><!-- intro-content -->

</div><!-- intro -->

</div><!-- one -->

<div>

<form action="/thanks/" class="contact-form" data-netlify="true" method="POST" name="contact-form" netlify-honeypot="bot-field">

<h2 data-size="2xl">Let&#8217;s connect</h2>

<input type="hidden" name="form-name" value="contact-form">
<label data-visibility="hidden">Don&#8217;t fill this out: <input name="bot-field"></label>

<div data-layout="flex">

<div>
<label for="contact-name">Name</label>
<input type="text" name="contact-name" id="contact-name">
</div><!-- one -->

<div>
<label for="contact-company">Company <span>(Optional)</span></label>
<input type="text" name="contact-company" id="contact-company">
</div><!-- two -->

</div><!-- layout -->

<div data-layout="flex">

<div>
<label for="contact-email">Email</label>
<input type="email" name="contact-email" id="contact-email">
</div><!-- one -->

<div>
<label for="contact-tel">Phone</label>
<input type="tel" name="contact-tel" id="contact-tel">
</div><!-- two -->

</div><!-- layout -->

<div>
<label for="contact-message">Message</label>
<textarea name="contact-message" id="contact-message"></textarea>
</div>

<div data-align-h="right">
<button class="btn">Send message</button>
</div><!-- align -->

</form>

</div><!-- two -->

</div><!-- layout -->



<div data-bg="footer-stripe-h">
{% include "partials/footer.html" %}
</div><!-- data-bg -->

<script src="{{ site.assetPath }}/js/scripts.js"></script>
</body>

</html>
